html, body {
	font-family: arial;
	height: 100%;
	margin: 0;
}
.center {
	text-align: center;
}


button {
	background: #57a4bf;
	color:white;
	padding: 6px;
	border: none;
}
/*
	fâçon sans flex
	
	Bloc 1 = section accueil
*/
#accueil > header {
	height: 50px;
}

#accueil > header > figure.logo {
	display: flex;
	margin-left: 50px;
	margin-top: 30px;
	height: 57px;
	width: 261px;
}

#accueil > header > nav {
    display: flex;
    justify-content: space-between;
    margin-right: 75px;
    margin-top: -18px;
}

#accueil > header > nav > a {
	text-decoration: none;
	color: black;
	margin-left: 10px;
	padding-top: 20px;
}

#accueil > header > nav > a:hover {
	color: #57a4bf;
	border-top: 1px solid #57a4bf;
}

#accueil > figure.slide > img {	
	width: 100%;
}

#accueil > figure.slide > .sous-section-1 {
	width: 100%;
	position: absolute;
	top: 200px;
	left: 150px;
	color: white;
}

#accueil > figure.slide > .sous-section-1 p  {
	font-size: 11px;
}

#accueil > figure.slide > .sous-section-1 > h1 > b {
	color: #57a4bf;
}

/*
	Bloc 2 = Nos services
	pour le bloc photo-ordi + paragraphes nous utilisons le flex
*/

#nos-services > .separateur {
	width: 70%;
} 

#nos-services > .ligne {
	width: 10%;
	height: 1px;
	background-color: #efefef;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
}

#nos-services > .ligne > .cercle {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background-color: #57a4bf;
  border: solid 1px #57a4bf;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: calc(50% - 5px);
}

#nos-services > p {
	width: 60%;
	margin: auto;
}

#nos-services > .photo-ordi-paragraphes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
	margin: auto;
	padding-top: 30px;

}

#nos-services > .photo-ordi-paragraphes > .sous-section-2-1 {
	width: 50%;
}

#nos-services > .photo-ordi-paragraphes > .sous-section-2-1 > figure > img {
	width: 100%;
}

#nos-services > .photo-ordi-paragraphes > .sous-section-2-2 {
	font-size: 12px;
	width: 50%;
	padding-top: 10px;
}

#nos-services > .photo-ordi-paragraphes > .sous-section-2-2 > .logo-services-para > i {
	display: flex;
	float: left;
	margin-right: 10px;
	border: 1px #efefef solid;
	border-radius: 100%;
	padding: 10px;
	margin-top: 10px;
	position: relative;
}

#nos-services > .photo-ordi-paragraphes > .sous-section-2-2 > .logo-services-para > i > .cercle {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	background-color: #57a4bf;
	border: solid 1px #57a4bf;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 40px;
}

.fas {
	color: #57a4bf
}

#nos-services > .photo-ordi-paragraphes > .sous-section-2-2 > .logo-services-para > p > i > .fas {
	border: 1px;
	border-color: black;
}

#nos-services > .photo-ordi-paragraphes > .sous-section-2-2 > .logo-services-para  p {
	font-size: 12px;
}

/*
	Bloc 3 = nos projets
	pour le bloc photo-ordi + paragraphes nous utilisons le flex
*/

#nos-projets  {
	padding-top: 2px;
	background: #f3f3f3;
}

#nos-projets  p {
	font-size: 12px;
	padding-bottom: 30px;
}

#nos-projets > .ligne {
	width: 10%;
	height: 1px;
	background-color: #eae6e6;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
}

#nos-projets > .ligne > .cercle {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background-color: #57a4bf;
  border: solid 1px #57a4bf;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: calc(50% - 5px);
}

#nos-projets > div.block-buttons {
	margin-bottom: 30px;
}

#nos-projets > div.block-buttons > button {
	background: #dedede;
	color:black;
	border: none;
	position: relative;
}

#nos-projets > div.block-buttons > button:hover {
	background: #57a4bf;
	color: white;
	border-bottom: 2px solid #1780cc;
}

.fleche-bas {
	display: none;
	border-style: solid;
	border-width: 8px 8px 0 7px;
	border-color: #1780cc transparent transparent transparent;
  	position: absolute;
  	left: 40%;
  	top: 35px;
}

#nos-projets > div.block-buttons > button:hover > .fleche-bas {
	display:block;
}

#nos-projets > .block-buttons{
   display: flex;
   justify-content: center;
}

section#nos-projets > .block-buttons button {
   padding: 10px;
   border:none;
}

section#nos-projets > .block-buttons button:focus {
   background-color: #2196F3;
   border: none;
   color:white;
}


#nos-projets  .sous-section-3-1  {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#nos-projets  .sous-section-3-1 figure {
	margin: 6px;
    padding: 0;
    position: relative;
}
 
 div.img-footer {
    display: none;
    padding: 2px;
    padding-left: 25px;
    background: #00000054;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 81px;
    width: 90%;
}

.sous-section-3-1 figure:hover div.img-footer{
   /* margin-top: -100px;*/
    display: block;
}

/*
	Bloc 4 = div-4
	pour le bloc photo-ordi + paragraphes nous utilisons le flex
*/
.contact  {
	width: 100%;
	height: 600px;
	position: relative;

}
	
.contact > iframe {
    width: 100%;
    height: 600px;   
}

.contact > .formulaire-contact {
	width: 370px;
	background-color: #efefef;
	padding: 30px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 9;
	opacity: 0.9;
	border-radius: 1%;
}

.contact > .formulaire-contact > .infos-contact {
	color: #7c7575;
}

.contact > .formulaire-contact > p {
	margin: 0;
}

.contact > .formulaire-contact > form {
	margin-top: 30px;
}

input[type="text"] {
    height: 22px;
    width: 100%;
    margin-bottom: 10px;
}

textarea {
	width:100%;
	height: 150px;

}
